---
layout: default.njk
---
<article>

{{ cover | coverFigure | safe }}

  <header>
    <h1>
      <a href="">{{ title }}</a>
    </h1>
    {% if date %}<p>
      <span>{{ date | date("yyyy-MM-dd") }}</span>
    </p>{% endif %}
  </header>

  <div>

{{ content | safe }}

  </div>

</article>
